<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apostar em Evento</title>
    <link rel="stylesheet" href="styleBet.css">
</head>
<body>
    <header>
        <h1>Apostar no Evento</h1>
    </header>
    
    <main>
        

        <!-- Campo de título do evento -->
        <section class="bet-section">
            <h3>Título do Evento</h3>
            <input type="text" id="eventTitle" placeholder="Digite o título do evento" required>

            <!-- Opções de Aposta -->
            <h3>Escolha sua Aposta</h3>
            <div class="bet-options">
                <button onclick="selectBetOption('yes')" id="betYes">Sim</button>
                <button onclick="selectBetOption('no')" id="betNo">Não</button>
            </div>

            <!-- Valor da Aposta -->
            <input type="number" id="betAmount" placeholder="Valor da Aposta (R$)" min="1">

            <!-- Botão de Confirmação -->
            <button onclick="confirmBet()">Confirmar Aposta</button>
            <p id="balanceMessage" style="display: none;">Saldo insuficiente. Por favor, adicione créditos.</p>
            <button onclick="addCredits()" id="addCreditsBtn" style="display: none;">Adicionar Créditos</button>
            <script src="bet.js"></script>
        </section>
    </main>

</body>
</html>
