<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo!</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Quantum Bet</h1>
        <div class="buttons">
            <button onclick="window.location.href='telalogin.html'">Login</button>
            <button onclick="window.location.href='teladecadastro.html'">Registrar-se</button>
        </div>
    </div>
</body>
</html>